@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #3195ff;
  --secondary-color: #333;
  --dark-color: #000;
  --light-color: #f4f4f4;
  --header-opacity: 0.7;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  font-size: 12 px;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #ea5252;
}

p {
  margin: 10px 0;
  line-height: 1.6;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 1.4rem;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

section {
  padding: 20px;
}

.section-padding-lg {
  padding: 40px 20px;
}

.section-padding-xl {
  padding: 60px 20px;
}

section h2 {
  text-align: center;
}

input[type="email"],
input[type="text"] {
  width: 100%;
  padding: 15px 10px;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
}

input:focus {
  outline: 0;
}

.container {
  max-width: 1100px;
  margin: auto;
}

.navbar {
  background-color: #000;
  height: 70px;
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 50px;
  position: fixed;
  z-index: 10;
  opacity: 0.8;
}

.navbar img {
  display: block;
  width: 250px;
  height: 60px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
}

.navbar ul a {
  margin-left: 30px;
  padding-bottom: 5px;
}

.navbar ul a:hover {
  color: var(--primary-color);
  border-bottom: 2px var(--primary-color) solid;
}

.header {
  position: relative;
  background: url("./images/bg.png") no-repeat center center/cover;
  height: 1100px;
  width: 100%;
  text-align: center;
  padding: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, var(--header-opacity));
  position: absolute;
  top: 0;
  left: 0;
}

.header-inner {
  position: relative;
  z-index: 2;
  width: 700px;
  margin: 0 auto;
}

.header h5 {
  font-size: 20px;
  color: var(--primary-color);
}

.header h1 {
  font-size: 65px;
  line-height: 1.4;
  text-transform: uppercase;
}

.header p.lead {
  font-size: 20px;
  margin: 30px 0;
}

.header .btn {
  padding: 10px 30px;
}
.header .stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 120px;
}

.header .stats img {
  width: 100px;
  height: 100px;
}

.header .stats i {
  width: 100px;
  height: 100px;
}

.header .stats h3 {
  font-size: 50px;
}

.stats p {
  font-size: 20px;
  margin-top: 0;
}

.email .container,
.social .container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  justify-content: space-between;
  align-items: center;
}

.email h3,
.social h3 {
  font-size: 23px;
  text-transform: uppercase;
}

.email form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email form input {
  width: 60%;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border: 1px transparent solid;
}

.email .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.social div {
  justify-self: end;
}

.social a {
  margin-left: 30px;
}

.social a:hover {
  color: #000;
}

#courses {
  background: url(./images/bg-pattern-1.png) repeat;
}
.courses h2 {
  margin: 30px 0 20px;
}

.courses h2:nth-of-type(2) {
  margin: 50px 0 30px;
}

.courses p:nth-of-type(1) {
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.courses .promo-code {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
  width: 100%;
  text-align: center;
  letter-spacing: 3px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.courses .card:hover .promo-code {
  opacity: 1;
}

.courses .promo {
  font-size: 13px;
  font-weight: bold;
  color: #ea5252;
  margin-left: 10px;
  padding: 3px;
}

.courses .promo-code span {
  color: #ea5252;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.course-grid .card-body {
  padding-top: 30px;
  height: 150px;
}

.course-grid .card-footer {
  display: flex;
  justify-content: start;
  align-items: center;
}

.course-grid .card-footer img {
  width: 30px;
  margin-right: 10px;
}

.course-grid.more {
  margin-top: 40px;
  display: none;
}

.course-grid.more.show {
  display: grid;
}

.course-grid .course-img {
  width: 60px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.course-grid a:hover {
  color: #ea5252;
}

.course-grid .level {
  margin-bottom: 5px;
  color: var(--primary-color);
  text-transform: uppercase;
}

.ebook {
  padding: 50px 0;
  font-size: 1.3rem;
}

.ebook-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.ebook img {
  width: 450px;
  margin-right: 40px;
}

.ebook h3 {
  font-size: 45px;
}

.ebook a {
  margin-top: 20px;
}

.ebook .ebook-content {
  margin: auto;
}

.freelance {
  padding: 0 20px;
  font-size: 1.1rem;
}

.freelance h3 {
  margin: 10px 0;
  font-size: 28px;
}

.freelance img {
  width: 400px;
}

.freelance .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.freelance .btn {
  margin-top: 30px;
}

.freelance .btn:hover {
  background-color: var(--dark-color) !important;
  color: #fff;
}

#about {
  background: url(./images/bg-pattern-1.png) repeat;
}
.about {
  font-size: 1.1rem;
}

.about h2 {
  margin: 10px 0 30px;
}

.about img {
  justify-self: center;
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.youtube .yt-btn {
  margin: auto;
  text-align: center;
  display: block;
}

.youtube p {
  margin-bottom: 30px;
}
#youtube {
  background: url(./images/videos-bg.png) repeat;
}

.youtube-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.youtube .yt-buttons {
  margin-top: 20px;
}

.youtube .yt-buttons .btn {
  margin: 5px;
}

.crash-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.crash img {
  transition: 0.5s;
  border: 2px #f4f4f4 solid;
}

.crash img:hover {
  transform: translateY(-15px);
}

.patreon-grid {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.patreon img {
  width: 300px;
  justify-self: center;
}

#patreon {
  background: url(./images/bg-pattern-2.png) repeat;
}

.guide-link {
  text-align: center;
  color: #000;
}

.header-guide {
  padding-top: 100px;
  height: 600px;
}

.header-guide h1 {
  font-size: 55px;
}

.header-guide .header-inner {
  width: 800px;
}

.guide h2 {
  margin-bottom: 20px;
}

.guide .card {
  margin-bottom: 40px;
}

.guide .card > div {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.guide > div h2 {
  background: #000;
  margin: 10px 0 20px;
}

.guide img {
  width: 100px;
  display: block;
  margin: auto;
  margin-bottom: 5px;
}

.updated {
  color: #ea5252;
  font-size: 20px;
  font-weight: bold;
  margin-right: 5px;
}

.card {
  background-color: #222;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  position: relative;
  border: #333 solid 1px;
}

.card-light {
  background-color: #f4f4f4;
  color: #333;
  border: #eee solid 1px;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  font-size: 15px;
  padding: 5px 25px;
  text-align: center;
  font-weight: 700;
  line-height: 2.4rem;
  border: 1px transparent solid;
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: transparent !important;
  color: #fff;
  border: 1px solid #fff;
}

.btn-secondary {
  background-color: var(--secondary-color);
}

.btn-secondary:hover {
  background-color: var(--primary-color);
}

.btn-primary-outline {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-primary-outline:hover {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
}

.btn-dark {
  background-color: var(--dark-color);
}

.btn-dark:hover {
  background-color: var(--secondary-color);
}

.btn-light {
  background-color: var(--light-color);
  color: #333;
}

.btn-light:hover {
  opacity: 0.9;
}

.btn-patreon {
  background-color: #f56854;
  color: #fff;
  margin: auto;
  display: block;
  border-left: #333 5px solid;
  margin-top: 20px;
}

.btn-patreon:hover {
  transform: scale(0.98);
}

.btn-more {
  margin: 40px auto;
  width: 100%;
}

.text-primary {
  color: var(--primary-color);
}

.text-red {
  color: #ea5252;
}

.text-light {
  color: #777;
}

.text-small {
  font-size: 12px;
}

.text-lg {
  font-size: 35px;
}

.lead {
  font-size: 20px;
}

.text-center {
  text-align: center;
}

.bg-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.bg-light {
  background-color: var(--light-color);
  color: #333;
}

.bg-dark-pattern {
  background: url("./images/bg-pattern-1.png") repeat;
  color: #fff;
}

.bg-light-pattern {
  background: url("./images/bg-pattern-2.png") repeat;
  color: #333;
}

.bg-dark-blue {
  background-color: #143f7d;
  color: #fff;
}

.bg-videos {
  background: url("../images/videos-bg.png") no-repeat center center/cover;
  color: #fff;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  h2 {
    line-height: 1.3;
  }

  .header {
    height: 100vh;
  }

  .header h1 {
    font-size: 40px;
  }

  .header p.lead {
    font-size: 18px;
  }

  .header .stats {
    display: none;
  }

  .email .container {
    grid-template-columns: 1fr;
  }

  .email h3 {
    text-align: center;
    margin-bottom: 20px;
  }

  .email form input {
    width: 50%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border: 1px transparent solid;
  }

  .email .btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .social h3 {
    text-align: center;
    font-size: 20px;
  }

  .social div {
    margin-top: 20px;
    justify-self: center;
  }

  .social i {
    font-size: 25px;
  }

  .social a {
    margin: 0 10px;
  }

  .course-grid,
  .about-grid,
  .testimonial-grid,
  .youtube-grid,
  .crash-grid,
  .patreon-grid,
  .ebook-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .ebook img {
    width: 300px;
    margin: auto;
  }

  .ebook {
    padding: 40px 20px;
    text-align: center;
    font-size: 1.1rem;
  }

  .freelance .container,
  .social .container {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  #freelance {
    background: url(./images/bg-pattern-2.png) repeat;
  }

  .freelance .container img {
    width: 330px;
    order: -1;
  }

  .freelance .btn {
    width: 100%;
  }

  .testimonials .card-body {
    height: 330px;
  }

  .header-guide {
    display: none;
  }

  .guide {
    padding-top: 90px;
  }

  .guide .card > div {
    grid-template-columns: 1fr;
  }
}

.mobile-menu {
  display: none;
}

@media (max-width: 767px) {
  .desktop-menu {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    right: 70px;
    z-index: 1;
  }

  .mobile-menu .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 60px;
    height: 60px;
    opacity: 0;
  }

  .mobile-menu .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 70px;
    height: 70px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-menu .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
  }

  .mobile-menu .hamburger > div::before,
  .mobile-menu .hamburger > div::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }

  .mobile-menu .hamburger > div::after {
    top: 10px;
  }

  .mobile-menu .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }

  .mobile-menu .toggler:checked + .hamburger > div:before,
  .mobile-menu .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }

  .mobile-menu .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }

  .mobile-menu .toggler:checked ~ .menu {
    visibility: visible;
  }

  .mobile-menu .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.75s;
  }

  .mobile-menu .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
  }

  .mobile-menu .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-menu .menu > div {
    background: rgba(0, 0, 0, 1);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }

  .mobile-menu .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .mobile-menu .menu > div > div > ul {
    flex-direction: column;
  }

  .mobile-menu .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
  }

  .mobile-menu .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
    margin-left: 0;
  }
}


